@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary: #44355b;
  --primary-dark: #31263e;
  --dark: #221e22;
  --secondary: #eca72c;
  --tertiary: #ee5622;
}

.doll {
    width: 75px;
    height: 200px
}

.btn {
    background-color: var(--tertiary);
    transition: all .5s;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
}

.btn:hover {
    background-color: #d44515;
}

.btn-secondary {
    background-color: var(--secondary);
    transition: all .5s;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
}

.btn-secondary:hover {
    background-color: #c9891a;
}

html {
    font-family: Poppins;
}

.styled-font {
    font-family: Skranji;
}

.inputfield {
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #cecece;
    transition: all .1s;
    padding: 3px;
    padding-left: 8px;
    font-size: .9rem;
    outline: none;
}

.inputfield:focus {
    border: 1.5px solid var(--secondary);
}